@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Poppins:wght@400;700&display=swap');

:root {
  --base: 'Poppins', sans-serif;
  --heading: 'Montserrat Subrayada', sans-serif;

  --abs: #000;
  --black: #111;
  --dark: #333;
  --overcast: #777;
  --gray: #ccc;
  --light: #eee;
  --white: #fafafa;
  --primary: #940a37;

  --radius: 0.5rem;
  --radius-l: 2rem;

  --txt-shadow: 1px 1px 1px var(--black);

  --gradient-dark: linear-gradient(var(--black), var(--dark));
  --gradient-white: linear-gradient(var(--white), var(--overcast));

  --circle-black: radial-gradient(
    circle at 100% 100%,
    var(--black) 10%,
    var(--dark)
  );

  --circle-white: radial-gradient(
    circle at 100% 100%,
    var(--white) 10%,
    var(--gray)
  );

  --circle-green: radial-gradient(
    circle at 100% 100%,
    rgb(4, 64, 4) 10%,
    var(--black)
  );

  --circle-blue: radial-gradient(
    circle at 100% 100%,
    rgb(6, 71, 99) 10%,
    var(--black)
  );

  --circle-violet: radial-gradient(
    circle at 100% 100%,
    rgb(40, 4, 64) 10%,
    var(--black)
  );

  --circle-orange: radial-gradient(
    circle at 100% 100%,
    rgb(158, 90, 8) 10%,
    var(--black)
  );

  --circle-red: radial-gradient(
    circle at 100% 100%,
    rgb(112, 13, 13) 10%,
    var(--black)
  );

  --circle-rose: radial-gradient(
    circle at 100% 100%,
    rgb(112, 13, 107) 10%,
    var(--black)
  );

  --circle-yellow: radial-gradient(
    circle at 100% 100%,
    rgb(221, 189, 8) 10%,
    var(--black)
  );

  --circle-sky: radial-gradient(
    circle at 100% 100%,
    rgb(7, 201, 205) 10%,
    var(--black)
  );

  --circle-aqua: radial-gradient(
    circle at 100% 100%,
    rgb(4, 149, 55) 10%,
    var(--black)
  );
}
